<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        var obj = Session["Client"] as BookShopOnline_ProjectSem3.Models.User;
                    }
                    @if (Session["Client"] == null)
                    {
                        <li>Hello <a >@obj.Username </a></li>
                        <li><a href="@Url.Action("Logout","Login")">| Log out</a></li>


                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />

        @RenderBody()
        <hr />

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
