@model BookShopOnline_ProjectSem3.Models.Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

    <div class="main-panel">
        <div class="content-wrapper">
            <div>
                <h4>Your Profile</h4>
                <hr />
                <dl class="dl-horizontal">


                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>



                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Phone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Birthday)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Birthday)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Gender)
                    </dd>

                    

                </dl>
            </div>
            <p>
                @Html.ActionLink("Update Information", "Edit", new { id = Model.EmployeeID })

            </p>



        </div>
    </div>



