@model BookShopOnline_ProjectSem3.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Page Title - SB Admin</title>
    <link href="css/styles.css" rel="stylesheet" />
    <link href="~/Assect/Admin/dist/css/style.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                <div class="card-body">
                                    @using (Html.BeginForm("Login", "LoginEmployee", FormMethod.Post))
                                    {
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Username, new { @class = "small mb-1" })
                                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { placeholder = "Username", @class = "form-control py-4" } })
                                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

                                            @*<label class="small mb-1" for="inputEmailAddress">Email</label>
                                                <input class="form-control py-4" id="inputEmailAddress" type="email" placeholder="Enter email address" />*@
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Password, new { @class = "small mb-1" })
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Password", @class = "form-control py-4", @type = "password" } })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                                            @*<label class="small mb-1" for="inputPassword">Password</label>
                                            <input class="form-control py-4" id="inputPassword" type="password" placeholder="Enter password" />*@
                                        </div>

                                        <div style="color:red;margin-bottom: 10px">
                                            @Html.DisplayFor(model => model.LoginErrorMessage)
                                        </div>

                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <h3></h3>
                                            <input type="submit" name="name" value="Login" class="btn btn-primary" />
                                        </div>


                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; @DateTime.Now.Year</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    
    <script src="~/Assect/Admin/src/js/scripts.js"></script>
</body>
</html>

