@model IEnumerable<BookShopOnline_ProjectSem3.Models.Book>
@using BookShopOnline_ProjectSem3.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Customer.cshtml";
    BookDB_DemoEntities db = new BookDB_DemoEntities();

}

<!-- slider-group-start -->
<div class="slider-group  mt-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <!-- slider-area-start -->
                <div class="slider-area">
                    <div class="slider-active owl-carousel">
                        <div class="single-slider slider-hm4-1 pt-154 pb-154 bg-img" style="background-image:url(/Content/Customer/img/slider/7.jpeg);">
                            <div class="slider-content-4 slider-animated-1 pl-40">
                                <h1>Sale up to 30% off</h1>
                                <h2>Books in Store</h2>
                                <a href="#">Shopping now!</a>
                            </div>
                        </div>
                        <div class="single-slider pt-154 pb-154 bg-img" style="background-image:url(/Content/Customer/img/slider/8.jpeg);">
                            <div class="slider-content-4 slider-animated-1 pl-40">
                                <h1>Sale up to 30% off</h1>
                                <h2>Books in Order</h2>
                                <a href="#">Shopping now!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- slider-area-end -->
            </div>
            <div class="col-lg-3 col-md-3 hidden-sm col-xs-12">
                <!-- banner-static-2-start -->
                <div class="banner-static-2">
                    <div class="banner-img-2">
                        <a href="#"><img src="~/Content/Customer/img/banner/20.jpeg" alt="banner"></a>
                    </div>
                    <!-- banner-area-3-start -->
                    <div class="banner-area-3">
                        <!-- single-banner-2-start -->
                        <div class="single-banner-2 mt-16">
                            <div class="single-icon-2">
                                <a href="#">
                                    <img class="service-blue-img" src="~/Content/Customer/img/icon-img/service-1.png" alt="banner">
                                    <img class="service-white-img" src="~/Content/Customer/img/icon-img/service-1-white.png" alt="banner">
                                </a>
                            </div>
                            <div class="single-text-2">
                                <h2>Free shipping item</h2>
                                <p>For all orders over $500</p>
                            </div>
                        </div>
                        <!-- single-banner-2-end -->
                        <!-- single-banner-2-start -->
                        <div class="single-banner-2 mt-16">
                            <div class="single-icon-2">
                                <a href="#">
                                    <img class="service-blue-img" src="~/Content/Customer/img/icon-img/service-2.png" alt="banner">
                                    <img class="service-white-img" src="~/Content/Customer/img/icon-img/service-2-white.png" alt="banner">
                                </a>
                            </div>
                            <div class="single-text-2">
                                <h2>Money back guarante</h2>
                                <p>100% money back guarante</p>
                            </div>
                        </div>
                        <!-- single-banner-2-end -->
                        <!-- single-banner-2-start -->
                        <div class="single-banner-2 mt-16">
                            <div class="single-icon-2">
                                <a href="#">
                                    <img class="service-blue-img" src="~/Content/Customer/img/icon-img/service-3.png" alt="banner">
                                    <img class="service-white-img" src="~/Content/Customer/img/icon-img/service-3-white.png" alt="banner">
                                </a>
                            </div>
                            <div class="single-text-2">
                                <h2>Cash on delivery</h2>
                                <p>Lorem ipsum dolor amet</p>
                            </div>
                        </div>
                        <!-- single-banner-2-end -->
                    </div>
                    <!-- banner-area-3-end -->
                </div>
                <!-- banner-static-2-end -->
            </div>
        </div>
    </div>
</div>
<!-- slider-group-end -->
<!-- home-main-area-start -->
<div class="home-main-area mt-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <!-- category-area-start -->
                <br />
                <br />
                <div class="category-area mb-30">
                    <h3><a>Book Genre <i class="fa fa-bars"></i></a></h3>
                    <div class="category-menu">
                        <nav class="menu">
                            <ul>
                                @foreach (var e in @ViewBag.genreB)
                                {
                                    <li><a href="@Url.Action("Genre","Book",new { id=e.GenreID })">@e.GenreName</a></li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- category-area-end -->
                <!-- banner-area-start -->
                <div class="banner-area mb-30">
                    <div class="banner-img-2">
                        <a href="#"><img src="~/Content/Customer/img/banner/21.jpeg" alt="banner"></a>
                    </div>
                </div>
                <!-- banner-area-end -->
                <!-- most-product-area-start -->
                <br />


                <!-- most-product-area-end -->
                <!-- block-newsletter-area-start -->
                <div class="block-newsletter">
                    <h2>Sign up for send newsletter</h2>
                    <p>You can be always up to date with our company new!</p>
                    <form action="#">
                        <input type="text" placeholder="Enter your email address">
                    </form>
                    <a href="#">Send Email</a>
                </div>
                <!-- block-newsletter-area-end -->
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <!-- new-book-area-start -->
                <div class="new-book-area ptb-50">
                    <div class="section-title-2 mb-30">
                        <h3>New Arrivals</h3>
                    </div>
                    <div class="tab-active-3 owl-carousel">
                        @foreach (var item in Model)
                        {
                            <!-- header slide -->
                            <div class="tab-total">

                                <div class="product-wrapper mb-40">
                                    <div class="product-img">
                                        <a href="#">
                                            <img src="~/UploadFile/@item.FILES.FirstOrDefault().FileName" alt="book" class="primary">
                                        </a>
                                        <div class="product-flag">
                                            <ul>
                                                <li><span class="sale">new</span></li>

                                            </ul>
                                        </div>
                                        <div class="quick-view">
                                            <a class="action-view" href="@Url.Action("Index","ProductDetails", new { id = item.BookID })" title="Details">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                        </div>

                                    </div>
                                    <div class="product-details text-center">

                                        <h4><a href="#">@item.BookName</a></h4>
                                        <div class="product-price">
                                            <ul>
                                                <li>$@item.Price</li>

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-link">
                                        <div class="product-button">
                                            <a href="/Cart/AddCart/@item.BookID" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>

                                    </div>
                                </div>
                                <!-- single-product-end -->
                                <!-- under slide -->
                                

                                <!-- single-product-end -->
                            </div>
                        }


                        




                    </div>


                </div>
                <!-- new-book-area-start -->
                <!-- product-area-start -->
                <div class="product-area">
                    <div class="row">
                        @{
                            foreach (var item in @ViewBag.genreHome)
                            {
                                int genreBookI = @item.GenreID;
                                var genreBookId = db.Books.Where(x => x.GenreID == genreBookI).ToList();
                                ViewBag.genreBookId = genreBookId;
                                <div class="col-md-4 col-sm-12 xs-mb">
                                    <div class="section-title-2 mb-30">
                                        <h3>@item.GenreName</h3>
                                    </div>
                                    <div class="product-active-3 owl-carousel">
                                        @foreach (var i in @ViewBag.genreBookId)
                                        {
                                            int fileIdn = @i.BookID;
                                            var imageNamen = db.FILES.Where(x => x.BookID == fileIdn).ToList();
                                            ViewBag.imageNamen = imageNamen;
                                            <div class="product-total-2">
                                                <div class="single-most-product bd mb-18">
                                                    <div class="most-product-img">
                                                        <a href="@Url.Action("Index","ProductDetails", new { id = fileIdn })">
                                                            @foreach (var e in @ViewBag.imageNamen)
                                                            {
                                                                <img src="@e.Path" alt="book" class="primary">
                                                            }

                                                        </a>
                                                    </div>
                                                    <div class="most-product-content">
                                                        <h4><a href="@Url.Action("Index","ProductDetails", new { id = fileIdn })">@i.BookName</a></h4>
                                                        <div class="product-price">
                                                            <ul>
                                                                <li>$@i.Price</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <!-- product-area-end -->
            </div>
        </div>
    </div>
</div>
<!-- home-main-area-end -->
<!-- social-group-area-start -->
<div class="social-group-area ptb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="section-title-3">
                    <h3>Latest Tweets</h3>
                </div>
                <div class="twitter-content">
                    <div class="twitter-icon">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="twitter-text">
                        <p>
                            Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum notare quam
                        </p>
                        <a href="#">posthemes</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="section-title-3">
                    <h3>Stay Connected</h3>
                </div>
                <div class="link-follow">
                    <ul>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                        <li class="hidden-sm"><a href="#"><i class="fa fa-vimeo"></i></a></li>
                        <li class="hidden-sm"><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- social-group-area-end -->
